sidebar.projects-container
    .panel.create-project
        a.button(href=route('projects', 'index')) #{lang('New Project')}
            span +
    .panel.projects-list
        h2 #{lang('Projects')}
        ul#projects
            li
                a(href="") Lorem ipsum
            li
                a(href="") Lorem ipsum 2
            li
                a(href="") Lorem ipsum 3

        
